In [13]:
import numpy as np
import time

In [10]:
A = np.random.randint(0, 10, (1_000_000, 8))
print(A.shape, A.dtype)

(1000000, 8) int64

In [11]:
# add all the numbers in the first column

In [23]:
start = time.time()
result = A[:, 0].sum()
end = time.time()
print(result)
print((end-start)*1000, "ms")

4502587
4.0836334228515625 ms

In [16]:
B = A.T.copy().T # B has consecutive columns

In [29]:
start = time.time()
result = B[:, 0].sum()
end = time.time()
print(result)
print((end-start)*1000, "ms")

4502587
1.0464191436767578 ms

In [30]:
import pandas as pd
import pyarrow as pa
import pyarrow.csv
import pyarrow.compute as pc

In [31]:
start = time.time()
df = pd.read_csv("hdma-wi-2021.csv")
end = time.time()
print((end-start)*1000, "ms")

/tmp/ipykernel_21/2349607279.py:2: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("hdma-wi-2021.csv")

2899.9218940734863 ms

In [34]:
df.head(3)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,54930034MNPILHP25H80,99999,WI,55027.0,5.502796e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4196,3.67,69600,108,1422,1839,57
1,2021,54930034MNPILHP25H80,99999,WI,55001.0,5.500195e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1511,5.43,69600,65,541,1966,33
2,2021,54930034MNPILHP25H80,99999,WI,55013.0,5.501397e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3895,9.63,69600,80,1685,5859,35

In [35]:
start = time.time()
t = pa.csv.read_csv("hdma-wi-2021.csv")
end = time.time()
print((end-start)*1000, "ms")

404.0670394897461 ms

In [37]:
start = time.time()
df = t.to_pandas()
end = time.time()
print((end-start)*1000, "ms")

249.6323585510254 ms

In [38]:
df.head(3)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,54930034MNPILHP25H80,99999,WI,55027.0,5.502796e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4196,3.67,69600,108,1422,1839,57
1,2021,54930034MNPILHP25H80,99999,WI,55001.0,5.500195e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1511,5.43,69600,65,541,1966,33
2,2021,54930034MNPILHP25H80,99999,WI,55013.0,5.501397e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3895,9.63,69600,80,1685,5859,35

In [43]:
t[:3].to_pandas()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,54930034MNPILHP25H80,99999,WI,55027,55027961800,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4196,3.67,69600,108,1422,1839,57
1,2021,54930034MNPILHP25H80,99999,WI,55001,55001950501,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1511,5.43,69600,65,541,1966,33
2,2021,54930034MNPILHP25H80,99999,WI,55013,55013970400,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3895,9.63,69600,80,1685,5859,35

In [46]:
pc.utf8_lower(t["lei"]).to_pandas()

0         54930034mnpilhp25h80
1         54930034mnpilhp25h80
2         54930034mnpilhp25h80
3         54930034mnpilhp25h80
4         54930034mnpilhp25h80
                  ...
447362    54930034mnpilhp25h80
447363    54930034mnpilhp25h80
447364    54930034mnpilhp25h80
447365    54930034mnpilhp25h80
447366    54930034mnpilhp25h80
Length: 447367, dtype: object

In [50]:
pc.mean(t["income"].drop_null()).as_py()

377.5220353645974